<div id="inputWrapper" class="fixed-input-container initial-state">
    <div class="row" style="background-color: #21252900;">
        <div class="col-md-8 offset-md-2">
            <div class="inputgroups">
                <button type="button" id="voiceToggle" class="voice-btn">
                    <i class="fa fa-volume-mute" id="voiceIcon"></i>
                </button>

                <textarea id="chatInput" placeholder="Ask me anything..." rows="1"></textarea>

                <button type="button" id="sendBtn" class="send-chat-btn">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</div>